extends admin_nav

block title
  title Theme

block admin
    if sections.length !== 0
      .col-md-10.content
        .panel.panel-default
          .panel-heading
            | Gestion de Thème
          .panel-body
            | Ajouter un Thème
            br
            br
  
            form#signin.navbar-form(method='POST', accept-charset='UTF-8')
              .form-group
                label.col-md-4.control-label(for='textinput') Nom
                .col-md-4
                  input.form-control(name='name', type='text', placeholder='Nom du thème :')
              .form-group
                  label.col-md-4.control-label(for='selectbasic') Selection d'une section
                  .col-md-4
                      select#selectbasic.form-control(name='section')
                        -for section in sections
                          option(value='#{section.name}')= section.name
              button.btn.btn-primary(type='submit', name='submit') Ajouter
  
            br
            | Liste des Thèmes
            br
            br
            - for theme in themes
              .alert.alert-info
                a.btn.btn-xs.btn-primary.pull-right(href='/admin/theme/'+theme.section+'/'+theme.name) Modifier le Thème
                a.btn.btn-xs.btn-primary.pull-right(href='/admin/theme/'+theme.section+'/'+theme.name+'/suppr') Suprimer le Thème
                strong= theme.name + " " 
                = theme.section + " / " + theme.topics.length + " Topics"


    else
      p Il n'y a aucune section où créer un thème

