extends file_nav

block title
  title Dashboard

block file
  .col-md-10.content
    .panel.panel-default
      .panel-heading
        | Search File
      .panel-body
        if(files == null)
          p Aucun fichier trouvé
        else
          ul
          -for file in files
            li.slash-list-item
              a(href='/file/'+file.name)= file.name
