extends layout

block head
  link(rel='stylesheet', href='/stylesheets/connect.css')

block content
  h1= title
  if session.isConnect == false
    .container
      .login-container
        .avatar
        .form-box
          form(action='', method='post')
            input(name='user', type='text', placeholder='username')
            input(name='pass',type='password', placeholder='password')
            button.btn.btn-info.btn-block.login(type='submit',name='submit') Login

   else
      p Vous êtes déjà connecté

