extends layout

block title
  title Reservation

block head
   script(src='/javascripts/reservation.js')

block content
  #success
  h2 Réservation Croc
  select(name="menu", onchange="afficheMenu()")
    option(value="menu") Menu 
    option(value="croc") Simple Croc
    option(value="choco") Croc Choco
  #commande
  button(onclick="envoiCroc()") Réserver
  #prixCroc
  
  
  h2 Résevation Cable
  label longeur du cable : 
    input(type="number", name="longeur", min=0, max=50, onkeyup="prixCable()")
  label croisé
    input(type="checkbox", name="croise")
  br
  button(onclick="envoiCable()") Réserver
  #prixCable
    
  script.
    afficheMenu();
     
