script(type='text/javascript', src='/SyntaxHighlighter/scripts/shCore.js')
script(type='text/javascript', src='/SyntaxHighlighter/scripts/shBrushAppleScript.js')
script(type='text/javascript', src='/SyntaxHighlighter/scripts/shBrushAS3.js')
script(type='text/javascript', src='/SyntaxHighlighter/scripts/shBrushBash.js')
script(type='text/javascript', src='/SyntaxHighlighter/scripts/shBrushColdFusion.js')
script(type='text/javascript', src='/SyntaxHighlighter/scripts/shBrushCpp.js')
script(type='text/javascript', src='/SyntaxHighlighter/scripts/shBrushCSharp.js')
script(type='text/javascript', src='/SyntaxHighlighter/scripts/shBrushCss.js')
script(type='text/javascript', src='/SyntaxHighlighter/scripts/shBrushDelphi.js')
script(type='text/javascript', src='/SyntaxHighlighter/scripts/shBrushDiff.js')
script(type='text/javascript', src='/SyntaxHighlighter/scripts/shBrushErlang.js')
script(type='text/javascript', src='/SyntaxHighlighter/scripts/shBrushGroovy.js')
script(type='text/javascript', src='/SyntaxHighlighter/scripts/shBrushJava.js')
script(type='text/javascript', src='/SyntaxHighlighter/scripts/shBrushJavaFX.js')
script(type='text/javascript', src='/SyntaxHighlighter/scripts/shBrushJScript.js')
script(type='text/javascript', src='/SyntaxHighlighter/scripts/shBrushPerl.js')
script(type='text/javascript', src='/SyntaxHighlighter/scripts/shBrushPhp.js')
script(type='text/javascript', src='/SyntaxHighlighter/scripts/shBrushPlain.js')
script(type='text/javascript', src='/SyntaxHighlighter/scripts/shBrushPowerShell.js')
script(type='text/javascript', src='/SyntaxHighlighter/scripts/shBrushPython.js')
script(type='text/javascript', src='/SyntaxHighlighter/scripts/shBrushRuby.js')
script(type='text/javascript', src='/SyntaxHighlighter/scripts/shBrushSass.js')
script(type='text/javascript', src='/SyntaxHighlighter/scripts/shBrushScala.js')
script(type='text/javascript', src='/SyntaxHighlighter/scripts/shBrushSql.js')
script(type='text/javascript', src='/SyntaxHighlighter/scripts/shBrushVb.js')
script(type='text/javascript', src='/SyntaxHighlighter/scripts/shBrushXml.js')
link(type='text/css', rel='stylesheet', href='/SyntaxHighlighter/styles/shCoreRDark.css')
link(type='text/css', rel='stylesheet', href='/SyntaxHighlighter/styles/shThemeRDark.css')
script(src='/javascripts/code.js')
link(type='text/css', rel='stylesheet', href='/stylesheets/code.css')
script(type='text/javascript').
  SyntaxHighlighter.all();
