
input:focus {
    border-color: rgba(82, 168, 236, 0.75);
    -moz-box-shadow: 0 0 8px rgba(82, 168, 236, 0.5);
    -webkit-box-shadow: 0 0 8px rgba(82, 168, 236, 0.5);
    box-shadow: 0 0 8px rgba(82, 168, 236, 0.5);
}
    
.correct {
    border-color: rgba(68, 191, 68, 0.75);
}
    
.correct:focus {
    border-color: rgba(68, 191, 68, 0.75);
    -moz-box-shadow: 0 0 8px rgba(68, 191, 68, 0.5);
    -webkit-box-shadow: 0 0 8px rgba(68, 191, 68, 0.5);
    box-shadow: 0 0 8px rgba(68, 191, 68, 0.5);
}

.incorrect {
    border-color: rgba(191, 68, 68, 0.75);
}
    
.incorrect:focus {
    border-color: rgba(191, 68, 68, 0.75);
    -moz-box-shadow: 0 0 8px rgba(191, 68, 68, 0.5);
    -webkit-box-shadow: 0 0 8px rgba(191, 68, 68, 0.5);
    box-shadow: 0 0 8px rgba(191, 68, 68, 0.5);
}

.tooltip {
  width : 100%;
  display : none;
}
.tooltip .tooltip-inner.incorrect {
   background-color : rgba(220, 68, 68, 0.75);
   border: 2px solid rgba(191, 68, 68, 0.75); 
 }
 
.tooltip .tooltip-inner.correct {
   background-color : rgba(68, 220, 68, 0.75);
   border: 2px solid rgba(68, 191, 68, 0.75); 
 }
 
 .tooltip.right .tooltip-arrow {
   /*border-right-color: rgba(191, 68, 68, 1);*/
 }
 
