extends ../layout

block title
  title post-Edit

block head
  link(rel='stylesheet', href='/stylesheets/admin.css')
  include ../texteditor.jade
  
block content 
    form#form(action='', method='post')
      .form-group
        textarea(style="width: 100%;" name="message")
        != post.message
      button.btn.btn-primary(type='submit') Submit
        a(href='/t')
      button.btn.btn-danger Cancel  
      br
      br
