extends ../layout

block title
  title Forum
  
block head
  link(rel='stylesheet', href='/stylesheets/forum.css')
  include ../texteditor.jade

block content 
  .container
    .row
      .col-md-12
        .widget-box
          .widget-header.bordered-bottom.bordered-themesecondary
            i.widget-icon.fa.fa-tags.themesecondary
            h5.widget-caption.themesecondary
              a(href='/forum') Forum
            h5.widget-caption.themesecondary > 
            h5.widget-caption.themesecondary
              a(href='/forum')= idTheme
            h5.widget-caption.themesecondary > 
            h5.widget-caption.themesecondary
              a(href="/forum/'+theme.section+'/'+theme.name+'")= idSection
          .widget-body
            .widget-main.no-padding

              form#form(role='form', action='', method='post')
                .form-group
                  label(for='InputName') Nom du Topic
                  .input-group
                    input#InputName.form-control(type='text', name='InputName', required='')
                    span.input-group-addon
                      i.glyphicon.glyphicon-ok.form-control-feedback
                .form-group
                  label(for='InputMessage') Message
                  .input-group
                    textarea(style="width: 100%;" name="message")
                    span.input-group-addon
                      i.glyphicon.glyphicon-ok.form-control-feedback
                .form-group
                  label(for='InputReal') Combien font 4 + 3 (SPAM vérification)
                  .input-group
                    input#InputReal.form-control(type='text', name='InputReal', required='')
                    span.input-group-addon
                      i.glyphicon.glyphicon-ok.form-control-feedback
                input#submit.btn.btn-info.pull-right(type='submit', name='submit', value='Poster')
    script.
        $('#form').submit(function(){});
