mixin pages
  span
    if page-2 > 1
      a(href="/forum/#{topic.section}/#{topic.theme}/#{topic.name}?page=1") 1
      if page-2 > 2
        |-
    - for (var i = -2; i<=2; i++)
      if(page + i > 0 && page + i < maxPage+1 && i!=0)
        a(href="/forum/#{topic.section}/#{topic.theme}/#{topic.name}?page=#{page+i}")= page+i
      else if (i==0)
        span= page
    if page+2 < maxPage
      if page+2 < maxPage-1
        |-
      a(href="/forum/#{topic.section}/#{topic.theme}/#{topic.name}?page=#{maxPage}")= maxPage
    
extends ../layout

block title
  title Forum
  
  
block head
  link(rel='stylesheet', href='/stylesheets/forum.css')
  include ../syntaxHighlighter.jade
  include ../texteditor.jade

block content 

  .row
    .widget-box
      .widget-header.bordered-bottom.bordered-themesecondary
        i.widget-icon.fa.fa-tags.themesecondary
        h5.widget-caption.themesecondary
          a(href='/forum') Forum
        h5.widget-caption.themesecondary > 
        h5.widget-caption.themesecondary
          a(href='/forum')= topic.section
        h5.widget-caption.themesecondary > 
        h5.widget-caption.themesecondary
          a(href="/forum/#{topic.section}/#{topic.theme}")= topic.theme
        h5.widget-caption.themesecondary > 
        h5.widget-caption.themesecondary
          a(href="/forum/#{topic.section}/#{topic.theme}/#{topic.name}")= topic.name
      .widget-body
        .widget-main.no-padding
          if session.account.pseudo == topic.pseudoCreateur 
            if !topic.isResolue
              a.btn.btn-success(href="/forum/#{topic.section}/#{topic.theme}/#{topic.name}/resolue")
                span.glyphicon.glyphicon-plus
                |  Sujet Résolue
          .tickets-container
            +pages
            .message-item
              .message-inner
                .message-head.clearfix
                  .avatar.pull-left
                    a(href="/profil/#{topic.pseudoCreateur}")
                      img(src="#{firstAccount.imProfil}", width='40', height='40')
                  .user-detail
                    h5.handle
                      a(href="/profil/#{firstPost.pseudo}") #{firstAccount.pseudo} - #{firstAccount.champDescriptif}
                    .post-meta
                      .asker-meta
                        span.qa-message-what
                        span.qa-message-when
                          span#date.qa-message-when-data= firstPost.date
                        span.qa-message-who
                        span.qa-message-who-pad
                .qa-message-content!= firstPost.message
                if session.isConnect == true 
                      if (session.account.pseudo == firstPost.pseudo || session.account.groupe >= 40)
                        a(href="/forum/#{topic.section}/#{topic.theme}/#{topic.name}/edit/#{firstPost._id}").btn.btn-primary.btn-sm.active Editer
                      if session.account.groupe >= 40
                        a(href="/forum/#{topic.section}/#{topic.theme}/#{topic.name}/suppr/#{firstPost._id}").btn.btn-primary.btn-sm.active Suprimer
            ul.tickets-list#posts
              for post in posts
                .message-item
                  .message-inner
                    .message-head.clearfix
                      .avatar.pull-left
                        a(href="/profil/#{post.account.pseudo}")
                          img(src="#{post.account.imProfil}", width='40', height='40')
                      .user-detail
                        h5.handle
                          a(href="/profil/#{post.account.pseudo}") #{post.account.pseudo} - #{post.account.champDescriptif}
                        .post-meta
                         .asker-meta
                           span.qa-message-what
                           span.qa-message-when
                             span.qa-message-when-data= post.date
                           span.qa-message-who
                           span.qa-message-who-pad
                    .qa-message-content!= post.message
                    if session.isConnect == true && post.pseudo != ''
                      if (session.account.pseudo == post.pseudo || session.account.groupe >= 40)
                        a(href="/forum/#{topic.section}/#{topic.theme}/#{topic.name}/edit/#{post._id}").btn.btn-primary.btn-sm.active Editer
                      if session.account.groupe >= 40
                        a(href="/forum/#{topic.section}/#{topic.theme}/#{topic.name}/suppr/#{post._id}").btn.btn-primary.btn-sm.active Suprimer
            +pages

  .row
    if session.isConnect == true
      .col-md-12
        .widget-box
          .widget-header.bordered-bottom.bordered-themesecondary
            i.widget-icon.fa.fa-tags.themesecondary
            h5.widget-caption.themesecondary Répondre
          .widget-body
            .media
              .media-body
                br
                form#form(role='form', action='', method='post')
                  textarea(style="width: 100%;" name="message")
                  input#submit.btn.btn-info.pull-right(type='submit', name='submit', value='Poster')


      script.
          $('#form').submit(function(e){
              if (tinymce.getContent())
                  e.preventDefault();
          });
