extends ../layout

block title
  title Forum
  
block head
  link(rel='stylesheet', href='/stylesheets/forum.css')

block content  
  if sections.length !== 0
    -for section in sections
      .widget-box
        .widget-header.bordered-bottom.bordered-themesecondary
          i.widget-icon.fa.fa-tags.themesecondary
          h5.widget-caption.themesecondary= section.name
        .widget-body
          .widget-main.no-padding
            .tickets-container
              ul.tickets-list
                -for theme in section.themes
                  li.ticket-item
                    .row
                      .ticket-user.col-md-6.col-sm-12
                        img.user-avatar(src='http://bootdey.com/img/Content/user_1.jpg')
                        a(href="forum/#{theme.section}/#{theme.name}")
                          span.user-name= theme.name
                      .ticket-time.col-md-4.col-sm-6.col-xs-12
                        .divider.hidden-md.hidden-sm.hidden-xs
                        i.fa.fa-clock-o
                        span.time #{theme.topics.length}Sujets
                      .ticket-type.col-md-2.col-sm-6.col-xs-12
                        span.divider.hidden-xs
                        span.type Issue
                      .ticket-state.bg-yellow
                        i.fa.fa-info
  else 
    p Le forum est vide, où vous n'avez pas les droits pour y accéder 
