extends wiki_nav

block title
  title Wiki liste

block wiki
    .col-md-10.content
      .panel.panel-default
        .panel-heading
          | Liste des Pages
        .panel-body
            - for page in pages
              li.slash-list-item
                a(href='/wiki/'+page.title)= page.title
