extends ../layout

block content
  .container-fluid.main-container
    .col-md-2.sidebar
      .row
        .absolute-wrapper 
          .side-menu
            nav.navbar.navbar-default(role='navigation')
              .side-menu-container
                ul.nav.navbar-nav
                  li
                    a(href='/wiki/')
                      span.glyphicon.glyphicon-dashboard
                      |  Index
                  li
                    a(href='/wiki/add')
                      span.glyphicon.glyphicon-dashboard 
                      |  Ajouter une page
                  li
                    a(href='/wiki/listePage')
                      span.glyphicon.glyphicon-dashboard
                      |  Liste des pages
                  li
                    form(action='/wiki/search', method='get')
                      .form-group
                        label(for='pageTag') Recherche
                        input#pageTag.form-control(name='pageTag', type='text', placeholder='Entrer un tag')
                        button.btn.btn-primary(type='submit') Submit
    block wiki
