extends wiki_nav

block title
  title Wiki - Edit
  
block head
  include ../texteditor.jade 

block wiki
    .col-md-10.content
      .panel.panel-default
        .panel-heading
          = page.title
        .panel-body
          form#form(action='', method='post')
            .form-group
              label(for='pageTitle') PAGE TITLE
              input#pageTitle.form-control(value='#{page.title}', name='pageTitle', type='text', placeholder='Enter Page Title')
            .form-group
              label(for='pageContent') PAGE CONTENT
              textarea(style="width: 100%;" name="pageContent")
              != page.body
            .form-group
              label(for='pageTags') PAGE TAGS
              input#pageTags.form-control(value='#{page.tags}', name='pageTags', rows='10', placeholder='Entery Page Tags')
            button.btn.btn-primary(type='submit') Submit
            a(href='/t')
              button.btn.btn-danger Cancel  
          br
          br
