extends gestion_nav

block title
  title Produit

block gestion
    if categories.length !== 0
      .col-md-10.content
        .panel.panel-default
          .panel-heading
            | Gestion des Produits
          .panel-body
            | Ajouter un produit
            br
            br

            form#signin.navbar-form(method='POST', accept-charset='UTF-8', enctype="multipart/form-data")
              .form-group
                label.col-md-3.control-label(for='textinput') Nom
                .col-md-3
                  input.form-control(name='product', type='text', placeholder='Nom du produit :')
              .form-group
                label.col-md-3.control-label(for='textinput') Prix en centimes
                .col-md-3
                  input.form-control(name='prix', type='number', placeholder='Prix :')
  
              .form-group
                label.col-md-3.control-label(for='selectbasic') Sélection de la Catégorie
                .col-md-3
                  select#selectbasic.form-control(name='category')
                    - for category in categories
                      option(value=category.name,selected='selected')= category.name
              .form-group
                label.col-md-2.control-label(for='file') Image
                .col-md-2
                  input.form-control(type="file", name="file", id="file", accept='image/*')
  
              button.btn.btn-primary(type='submit', name='submit') Ajouter
            a.btn.btn-primary.btn-sm.active(href='/gestion/reset?local='+local) Reset
  
            br
            | Liste des produits
            br
            br
            - for product in products
              .alert.alert-info
                a.btn.btn-xs.btn-primary.pull-right(href='/gestion/product/' + product.name +'?local='+local) Modifier le produit
                strong= product.name + " "
                = product.category
                strong  stock:
                = product.stock

    else 
      p Il n'y a aucune catégorie où mettre un objet !
