extends ../layout

block head
  block headGestion
  
block content  
  .container-fluid.main-container
    .col-md-2.sidebar
      .row
        .absolute-wrapper
          .side-menu
            nav.navbar.navbar-default(role='navigation')
              .side-menu-container
                ul.nav.navbar-nav
                  li
                    a(href='/gestion/cashDesk?local='+local)
                      span.glyphicon.glyphicon-euro
                      |  Caisse
                  li
                    a(href='/gestion/reservation?local='+local)
                      span.glyphicon.glyphicon-euro
                      |  Réservation
                  if session.account.groupe >= 70
                    li
                      a(href='/gestion/product?local='+local)
                        span.glyphicon.glyphicon-list-alt
                        |  Gestion des produits
                    li
                      a(href='/gestion/category?local='+local)
                        span.glyphicon.glyphicon-list-alt
                        |  Gestion des catégories
                    li
                      a(href='/gestion/sellList?local='+local)
                        span.glyphicon.glyphicon-shopping-cart
                        |  Liste des ventes
    block gestion
