extends gestion_nav

block title
  title Caisse
  
block headGestion
  script(src='/javascripts/cashDesk.js')
  link(rel='stylesheet', href='/stylesheets/caisse.css')
  
block gestion
    if categories.length !== 0
      .col-md-10.content
        .modal.fade#confirmVente
        #success(style="display:none")
        .panel.panel-default
          .panel-heading
            | Caisse
          .panel-body
            .col-sm-9
              - for category in categories
                .panel.panel-default
                  .panel-heading
                    p(id='#{category.name}cat')= category.name
                  .panel-body
                      - for product in category.products
                        span.product(id='#{category.name}#{product.name}prod')
                          img(src='#{product.image}')
                          p= product.name
            .col-sm-3
              .panel.panel-default
                .panel-heading 
                  | Ventes
                .panel-body
                  table#liste.tatble
                  p
                    strong Total : 
                    span#compteur(name='caisse') 0,00 €
                  buttom.btn.btn-info(onclick="confirm()") Vendre


        -for  category in categories
          -for product in category.products    
            script.
              document.getElementById('#{category.name}#{product.name}prod').addEventListener('click', function() {
                ajoute({name : '#{product.name}',category : '#{product.category}', prix: #{product.prix} });
              }, false);
    else 
      p Il n'y a rien à vendre !

