extends ../layout

block title
  title A propos

block content
  link(rel='stylesheet', href='/stylesheets/about.css')
  .container
    .row
      .col-lg-12
        if session.account.groupe >= 50
          a.btn.btn-primary(href='/about/edit') Editer
        div!= about.contenu


