extends ../layout

block content
  .container-fluid.main-container
    .col-md-2.sidebar
      .row
        .absolute-wrapper 
          .side-menu
            nav.navbar.navbar-default(role='navigation')
              .side-menu-container
                ul.nav.navbar-nav
                  li
                    a(href='/')
                      span.glyphicon.glyphicon-dashboard
                      |  Index
                  if session.account.groupe >= 50
                    li
                      a(href='/news/add')
                        span.glyphicon.glyphicon-dashboard 
                        |  Ajouter un Article
                  li
                    a(href='/news/list')
                      span.glyphicon.glyphicon-dashboard 
                      |  Liste des articles
    block index
