extends index_nav

block title
  title Index-#{index.title}

block head
  include ../syntaxHighlighter.jade

block index
  .container
    .row
      .col-lg-8
        h1= index.title
        p.lead
          | par 
          a(href='/profil/'+index.ownerId)= index.ownerId
        hr
        p
          span.glyphicon.glyphicon-time
        p= index.date
        hr
        img.img-responsive(src='http://placehold.it/900x300', alt='')
        hr
        p!= index.body 
        if session.account.groupe >= 60
          .wiki-page-action
            a(href='/news/'+index.title+'/edit') Editer
            a(href='/news/'+index.title+'/suppr') Supprimer
