extends index_nav

block title
  title Index - Edit

block head
  include ../texteditor.jade

block index
    .col-md-10.content
      .panel.panel-default
        .panel-heading
          = index.title
        .panel-body
          form#form(action='', method='post')
            .form-group
              label(for='indexTitle') PAGE TITLE
              input#pageTitle.form-control(value='#{index.title}', name='indexTitle', type='text', placeholder='Enter Page Title')
            .form-group
              label(for='indexContent') PAGE CONTENT
              textarea#textEditor(style="width: 100%;" name="indexContent")
                != index.body
            button.btn.btn-primary(type='submit') Submit
            a(href='/t')
              button.btn.btn-danger Cancel  
          br
          br
