extends index_nav

block title
  title Index liste

block head
  include ../syntaxHighlighter.jade

block index
    .col-md-10.content
      .panel-body
        .row
          - for index in indexes

              .col-md-3
                a.thumbnail(href='/index/'+index.title)
                  img(src='http://placehold.it/260x180', alt='')
              .col-md-9
                h4
                  a(href='/news/'+index.title)= index.title
                p!= index.body
                p
                  a.btn.btn-info.btn-sm(href='/news/'+index.title) Read more
                br
                ul.list-inline
                  li
                    i.glyphicon.glyphicon-user
                    |  publié par  
                    a(href='/profil/'+index.ownerId)= index.ownerId
                    |  |
                  li
                    i.glyphicon.glyphicon-calendar= index.date
                br 
                br
                p _______________________________________
                br 
                br
